@theme inline {
  --animate-text-reveal: text-reveal 3s cubic-bezier(0.16, 1, 0.3, 1) 300ms both;
  --animate-glow-wander: glow-wander 8s ease-in-out infinite;
  --animate-sent-icon-fly: sent-icon-fly-3 3s ease-in-out infinite;
  --animate-sent-icon-fly-1: sent-icon-fly-1 7s ease-in-out infinite;
  --animate-sent-icon-fly-2: sent-icon-fly-2 4s ease-in-out infinite;
  --animate-sent-icon-fly-3: sent-icon-fly-3 5s ease-in-out infinite;

  @keyframes text-reveal {
    from {
      opacity: 0;
      transform: translateY(1.5rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes glow-wander {
    0%,
    100% {
      filter: drop-shadow(0 -3px 6px #ffffff60) drop-shadow(0 0 3px #ffffff20);
    }
    15% {
      filter: drop-shadow(3px -2px 8px #ffffff50) drop-shadow(0 0 2px #ffffff18);
    }
    30% {
      filter: drop-shadow(4px 2px 5px #ffffff48) drop-shadow(0 0 3px #ffffff20);
    }
    45% {
      filter: drop-shadow(1px 4px 7px #ffffff58) drop-shadow(0 0 2px #ffffff18);
    }
    60% {
      filter: drop-shadow(-2px 3px 6px #ffffff50) drop-shadow(0 0 3px #ffffff20);
    }
    75% {
      filter: drop-shadow(-4px 0 8px #ffffff60) drop-shadow(0 0 2px #ffffff18);
    }
    88% {
      filter: drop-shadow(-2px -3px 5px #ffffff48)
        drop-shadow(0 0 3px #ffffff20);
    }
  }

  @keyframes sent-icon-fly-1 {
    0% {
      opacity: 0;
      left: 0%;
      transform: translateY(0) rotate(15deg);
    }
    18% {
      opacity: 1;
    }
    30% {
      transform: translateY(-50px) rotate(50deg);
    }
    42% {
      opacity: 1;
    }
    60% {
      opacity: 0;
      left: 100%;
      transform: translateX(-100%) translateY(0) rotate(70deg);
    }
    100% {
      opacity: 0;
      left: 100%;
      transform: translateX(-100%) translateY(0) rotate(70deg);
    }
  }

  @keyframes sent-icon-fly-2 {
    0% {
      opacity: 0;
      left: 0%;
      transform: translateY(0) rotate(30deg);
    }
    18% {
      opacity: 1;
    }
    30% {
      transform: translateY(-20px) rotate(40deg);
    }
    42% {
      opacity: 1;
    }
    60% {
      opacity: 0;
      left: 100%;
      transform: translateX(-100%) translateY(0) rotate(70deg);
    }
    100% {
      opacity: 0;
      left: 100%;
      transform: translateX(-100%) translateY(0) rotate(70deg);
    }
  }

  @keyframes sent-icon-fly-3 {
    0% {
      opacity: 0;
      left: 0%;
      transform: translateY(0) rotate(60deg);
    }
    18% {
      opacity: 1;
    }
    30% {
      transform: translateY(50px) rotate(40deg);
    }
    42% {
      opacity: 1;
    }
    60% {
      opacity: 0;
      left: 100%;
      transform: translateX(-100%) translateY(0) rotate(20deg);
    }
    100% {
      opacity: 0;
      left: 100%;
      transform: translateX(-100%) translateY(0) rotate(20deg);
    }
  }
}
