---
import Layout from "@/layouts/main.astro"
import Header from "@/components/header.astro"
import { IndexHero } from "@/components/index-hero"
import { ProjectsSection } from "@/components/projects-section"
import { SkillsSection } from "@/components/skills-section"
---

<Layout>
  <main class="min-h-screen">
    <div class="fixed top-16 z-99 flex w-full justify-center">
      <Header />
    </div>

    <div class="z-1 min-h-0 w-full px-4 py-4 md:px-8 md:py-8">
      <IndexHero client:load />

      <!-- <SkillsSection client:load /> -->
      <ProjectsSection client:load />
    </div>
  </main>
</Layout>
