---
import Layout from "@/layouts/main.astro"
import { ProjectsSection, IndexHero, ContactSection } from "@/components"
// import { SkillsSection } from "@/components/skills-section"
---

<Layout>
  <main class="min-h-screen">
    <div class="z-1 min-h-0 w-full px-4 py-4 md:px-8 md:py-8">
      <IndexHero client:load />

      <div class="mt-32 flex flex-col gap-32">
        <!-- <SkillsSection client:load /> -->
        <ProjectsSection client:load />
        <ContactSection client:load />
      </div>
    </div>
  </main>
</Layout>
