<div class="text-center">
  <h4 class="text-xl font-semibold italic">
    '創' (Sō) comes from the Japanese word '創造' (Sōzō), which means
    <span class="text-special">creation.</span>
  </h4>

  <p class="text-md text-foreground">Let's create great things together.</p>
</div>
